body{
    padding-top: 20px;
    font-family: 'Freehand', cursive;
}
h1{
    text-align: center;   
    background-color:#393e46;
    color: white;
    height: auto;
    padding-top: 10px;
    padding-bottom: 18px;
}
h6{
    margin: 10px 0px;
}
h4{
    margin: 10px 0px;
}
.left-input input{
    padding: 3px 5px;
    width: 100%;
}
.right-input input{
    margin-right: 15px;
}
.left-input button{
    margin: 13px 0px;
    background-color: #393e46;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
}
.display-data{
    width: 100%;
}
.display-data h5{
    display: inline-block;
}
.display-data button{
    border-radius: 5px;
    border:1px solid black;
    margin: 0px 3px;
    padding: 3px 10px;
}
.divPage{
    width: 100%;
}
.pagination{
    margin-left: 40%;
}
.tableList{
    width: 100%;
    margin-top: 10px;
}
.bntSum{
    color:#28a745;
}
